body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D8E3F4; 
  background-image: url('/almoxarifado/public/client/images/fundo.png'); 
  background-size: cover;
  background-attachment: fixed;
  
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 110px; 
  height: 100%;
  background-color: #0F1E34; 
}
.container {
  margin-left: 110px; 
}

header {
  padding: 10px;
  text-align: left;
  position: relative;
}

header h1 {
  color: #0F1E34;
  font-family: Inter;
  font-size: 50px;
  font-weight: 800;
  margin-left: calc(50% - 941px/2 - 250px/2);
  width: 941px;
}

.ufopa{
  color: #5683C8;
}
header img {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 80px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;

}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 60px;
  margin-bottom: 15px;
}

.card h2 {
  color: #333;
  font-size: 18px;
  margin: 10px 0;
}

.card p {
  color: #666;
  font-size: 14px;
  margin: 5px 0;
}
